[data-theme="light"] {
  --p: #7e22ce;
  --s: #a855f7;
  --b1: #f9f9f9;
  --b2: #f1f1f4;
  --b3: #dbdfe9;
  --bc: #1f2937;
  --in: #7239ea;
  --su: #17c653;
  --wa: #f6b100;
  --er: #f8285a;
}
[data-theme="dark"] {
  --p: #006ae6;
  --s: #d74e00;
  --b1: #1b1c22;
  --b2: #26272f;
  --b3: #363843;
  --bc: #a6adbb;
  --in: #883fff;
  --su: #00a261;
  --wa: #c59a00;
  --er: #e42855;
}
